body {
    background-color: #1d2630;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 150px;
    
}

h2 {
    color: #2d8cf1;
}

th, td {
    text-align: center;
}

#totalAmount {
    font-weight: bold;
    font-size: 18px;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 35vh;
    text-align: center;
}

select:hover {
    background-color: #e0e0e0;
}

select:focus {
    border-color: #214974;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}